.clearfix::after{
    content:"";
    display: block;
    clear:both;

}
body{background-color: #efefef;
margin: 0px;}
*{padding: 0px;
 margin: 0px;}


.topNavBar{
    padding-top: 20px; 
    padding-bottom: 20px; 
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

}
.topNavBar .topNavBar-inner{
 padding: 0px 16px;

}
.topNavBar nav{
    padding-top: 8px;
    padding-bottom: 0px;

}
.topNavBar nav>ul{
   list-style: none; 
   margin: 0px;
   padding: 0px;
   
} 
a{
    text-decoration: none;
    color: inherit;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px; 
    /* border: 1px solid yellow; */
    }
.topNavBar nav>ul>li>a{
    
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;

 

    
    }
.topNavBar nav>ul>li>a:hover{
border-bottom: 3px solid #e06567;
padding-bottom: 5px;
padding-top: 5px;
display: block;

}
.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 4px;
    padding-bottom: 3px;
}
.topNavBar .logo .rs{
   margin-right: 4px;
   color: #E6686A;}
.topNavBar .logo .card{
    color: #9A9DA2;
}
/* .topNavBar .logo .rs{font-size: 24px;

font-family: "Arial Black";

}
.topNavBar .logo .card{font-size: 24px; 
    font-family: "Arial Black";} */
.div{font-size: 14px;
height: 30px;
}
.banner{
    height: 515px; 

    background-position: center center;
    /* 上面为垂直居中 下面为自适应 */
    background-size: cover

}

.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.userCard{
    border: 1px solid red;
    max-width: 940px;
    /* 居中  */
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.userCard .picAndText{
    padding: 50px;
}
.userCard .picAndText .picture{
    float: left;
}
.userCard .picAndText .text{
    float: left; 
    margin-left: 65px;
    width: 470px;
}
.userCard .picAndText .text .welcome{
background-color: #e6686a;
color: white;
padding: 4px 16px;
/* 不同浏览器机器 会造成ling-heigh不同 所以写一个值 */
line-height: 22px;
position: relative;
}
.userCard .picAndText .text .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a; 

    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .text h1{margin-top: 26px;}
.userCard .text hr{margin-top:22px; 
margin-bottom: 27px;}
.userCard .text dl dt,
.userCard .text dl dd{
    float: left;
    padding: 9px 0px;
}

.userCard .text dl dt{width: 30%;
font-weight: bold;
}
.userCard .text dl dd{width: 70%;
color: #9da0a7;}
footer.media{
    background-color: #e6686a;
    text-align: center;
    vertical-align: top;
} 
.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0px 16px;
}
.userCard a{
    display: inline-block;
    width: 40px;
    padding: 5px 0px;
    line-height: 30px;
    border-radius: 50%;
}
.userCard a:hover{
  background-color: #cf5d5f
}